@font-face {
    font-family: 'Museo Cyr';
    src: url(../font/MuseoCyr300.otf) format('opentype');/*fonts/museosanscyrl-300.ttf*/
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Cyr';
    src: url(../font/MuseoCyr500.otf) format('opentype');/*fonts/museosanscyrl-500.ttf*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Cyr';
    src: url(../font/MuseoCyr700.otf) format('opentype');/*fonts/museosanscyrl-700.ttf*/
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Cyr';
    src: url(../font/MuseoCyr900.otf) format('opentype');;/*fonts/museosanscyrl-900.ttf*/
    font-weight: bold;
    font-style: normal;
}


* {
    box-sizing: border-box;
}

html {
    margin: 0 !important;
    padding: 0;
    width: 100%;
    height: 100%;
    /*background: url(/img/winter-background.jpg);*/
    background-size: cover;
    background-attachment: fixed;
}

body {

    min-height: 100%;
    padding: 0px;
    margin: 0px;
    height: 100%;
    position: relative;
    font-family: "Museo Cyr", "Open Sans", Helvetica, Arial, sans-serif; /* "Exo 2", Arial, sans-serif; */
    font-size: 12pt;
    line-height: normal;
    color: #000;
    background: #fff;
    width: 100%;
    -webkit-text-size-adjust: none;
    min-width: 1280px;
    padding-top: 20px;
}

.full-width {
    width: 100%;
    display: block;
    float: left;
}

.content {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
    padding: 0px;
}

.wincalc-17 {
    margin-bottom: 100px;
    float: left;
    width: 100%;
}

.content > * {
    margin-left: 10px;
    margin-right: 10px;
}

.wincalc-17 * {
    box-sizing: border-box;
}

.block-2-items > .block-items-wrapper > div:nth-child(2n+1) {
    clear: left;
}

.block-2-items > .block-items-wrapper > div {
    width: 50%;
    padding: 10px;
    float: left;
}

.text-size-14 {
    font-size: 14pt;
}

.button-square, .btn {
    border: 2px solid #d21313;
    padding: 10px 25px;
    color: #d21313;
    font-size: 12pt;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: all .3s;
    text-transform: none;
}

.button-square:hover, .btn:hover {
    color: white;
    background: #e01717;
}


.wincalc-17 a {
    color: #124472;
}

.ui-widget-content {
    display: block;
    border-color: #ddd;
}

.central-content {
    width: auto;
    padding: 20px;
    position: relative;
}

.wincalc-type-selector {
    float: left;
    width: 12%;
}

.wincalc-type-selector > div {
    float: left;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    padding-top: 0px;
    font-weight: bold;
}

.wincalc-type-selector > div:first-child {
    float: none;
    padding-left: 0;
}

div.wincalc-type-selector-one {
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
    position: relative;
    cursor: pointer;
    font-weight: normal;
    text-decoration: underline;
    border: 2px solid #eee;
    width: 100%;
    border-collapse: collapse;
}

div.wincalc-type-selector-one:hover {
    border-color: #c90c0c;
}

div.wincalc-type-selector-one-selected {
    text-decoration: none;
    border-color: #c90c0c;
}

div.wincalc-type-selector-one-selected:after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #fff;
    bottom: 50%;
    right: -9px;
    margin-bottom: -7px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
    border: 2px solid #c90c0c;
    border-left: none;
    border-bottom: none;
}

.wincalc-type-selector-one > img {
    margin: 5px;
    max-height: 60px;
}


.wincalc-main-window {
    float: left;
    width: 58%;
    margin-top: 30px;
    text-align: center;
}

.wincalc-main-window-container {
    position: relative;
    margin-top: 20px;
}

.wincalc-main-window > div {
    display: inline-block;
    text-align: left;
}

.wincalc-price {
    float: right;
    clear: right;
    width: 30%;
}


.wincalc-vertical-slider {
    float: left;
    position: relative;
}

.wincalc-vertical-slider-ui {
    width: 0px;
    margin-right: 40px;
    margin-left: 40px;
    height: 320px;
    position: relative;
}

.wincalc-vertical-slider-ui:before, .wincalc-vertical-slider-ui:after {

}

.wincalc-vertical-slider-ui:after {
    bottom: -2px;
    top: auto;
}

.wincalc-horisontal-slider {
    position: relative;
    margin-bottom: 60px;
    margin-left: 90px;
    width: 450px;
}


.wincalc-horisontal-slider-ui {

    height: 0px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.wincalc-horisontal-slider-ui:before, .wincalc-horisontal-slider-ui:after {

}

.wincalc-horisontal-slider-ui:after {
    right: -2px;
    left: auto;
}

.wincalc-vertical-slider-ui > .ui-slider-handle, .wincalc-horisontal-slider-ui > .ui-slider-handle {
    border: none;
    background: #c90c0c;
    width: 15px;
    height: 15px;
    margin-left: -3px;
    cursor: pointer;
    border-radius: 50%;
}

.wincalc-vertical-slider-ui > .ui-slider-handle:hover, .wincalc-horisontal-slider-ui > .ui-slider-handle:hover {
    box-shadow: 0px 0px 5px 0px rgba(255, 133, 0, 0.73);
}

.wincalc-horisontal-slider-ui > .ui-slider-handle {
    margin-left: 0x;
    margin-top: -3px;
}

.wincalc-vertical-slider-counter, .wincalc-horisontal-slider-counter {
    position: absolute;
    width: 50px;
    border-radius: 5px;
    height: 26px;
    font-size: 10pt;
    color: black;
    padding: 5px;
    text-align: center;
}

.wincalc-vertical-slider-counter {
    left: -12px;
    margin-top: -9px;
}

.wincalc-horisontal-slider-counter {
    top: 5px;
    margin-left: -20px;
}

.wincalc-vertical-slider-counter:after, .wincalc-horisontal-slider-counter:after {
}

.wincalc-horisontal-slider-counter:after {

}

.wincalc-constuction {
    height: 370px;
    padding-left: 90px;
    margin-right: 90px;
    transition: all .5s;
}

.wincalc-frame {
    position: absolute;
    opacity: 0;
    top: 0;
    transition: opacity .5s;
}

.wincalc-frame img {
    position: absolute;
    transform-origin: 25px 302px;
    transform: perspective(400px);
    transition: transform 1s, opacity .5s;
    pointer-events: none;
}

.wincalc-frame-1 {
    left: 0px;
}

.wincalc-frame-2 {
    left: 147px;
}

.wincalc-frame-3 {
    left: 292px;
}

.wincalc-frame-4 {
    left: 439px;
}

.wincalc-frame-2 img, .wincalc-frame-4 img {
    transform-origin: 165px 302px;
}

.wincalc-constuction > img {
    max-height: 350px;
}

.wincalc-options input {
    display: none;
}

.wincalc-frames {
    position: absolute;
    margin-left: 88px;
    top: 0;
    transition: all .5s;
}


.wincalc-frame-selector {
    width: 100px;
    position: absolute;
    top: 50px;
    left: 47px;
    font-size: 10pt;
    background: rgba(255, 255, 255, 1);
    /*border-radius: 4px;*/
    line-height: 10pt;
    opacity: .9;
    transition: opacity .5s;
    padding: 0px;
}

.wincalc-frame:hover > .wincalc-frame-selector {
    opacity: 1;
}

.wincalc-frame-selector > div {
    padding: 8px 10px;
    color: #999;
    cursor: pointer;
    transition: all .5s;
}

/*.wincalc-frame-selector > div:first-child {
	border-radius: 4px 4px 0px 0px;
}

.wincalc-frame-selector > div:last-child {
	border-radius: 0px 0px 4px 4px;
}*/

.wincalc-frame-selector > div:hover, .wincalc-frame-selector > div.wincalc-frame-selector-selected {
    color: white;
    background: #624d3c;
}

.wincalc-type2-selector, .wincalc-options, .wincalc-size-selector {
    float: right;
    clear: right;
    width: 30%;
    font-weight: bold;
    font-size: 16px;
    padding-right: 20px;
    margin-bottom: 0px;

}

.wincalc-size-selector.block-2-items > .block-items-wrapper > div {
    padding: 0;
    font-size: 11pt;
}

.wincalc-size-selector input {
    width: 100%;
    padding: 8px 20px;
    margin-top: 10px;
    padding-right: 30px;
    font-size: 16pt;
}

.wincalc-size-selector > div > div {
    position: relative;
}

.wincalc-size-selector > div > div:before {
    content: "мм";
    font-size: 11pt;
    color: #ddd;
    position: absolute;
    right: 10px;
    bottom: 15px;
    display: block;
}

.wincalc-size-selector.block-2-items > .block-items-wrapper > div:first-child {
    padding-right: 10px;
}

.wincalc-size-selector.block-2-items > .block-items-wrapper > div:first-child:before {
    right: 20px;
}

.wincalc-size-selector.block-2-items > .block-items-wrapper > div:nth-child(2) {
    padding-left: 10px;
}

.wincalc-type2-selector > div, .wincalc-options > div {
    margin-top: 10px;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 15px 20px;
    padding-bottom: 0px;
}

.wincalc-options > div {
    padding: 0px 5px;
    float: left;
    width: 100%;
}

.wincalc-type2-selector > div > input, .wincalc-options > div > div > input {
    display: none;
}

.wincalc-type2-selector > div > label, .wincalc-options > div > div > label {
    display: block;
    font-size: 16px;
    padding: 6px;
    padding-left: 25px;
    background: url(../img/radio-bg.png) no-repeat 2px 10px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 100%;
}

.wincalc-type2-selector > div > label > span, .wincalc-options > div > div > label > span {
    display: block;
    float: right;
    font-size: 11pt;
    font-weight: 300;
    color: #999;
}

.wincalc-options > div > div > label > span {
    float: left;
    font-size: 10pt;
}

.wincalc-type2-selector > div > input:checked + label {
    background-image: url(../img/radio-active.png);
}

.wincalc-type2-selector > div > div {
    margin-top: 13px;
    font-size: 14px;
}

.wincalc-options > div > div > label {
    background: url(../img/check-bg.png) no-repeat 0px 7px;
    margin-bottom: 5px;
}

.wincalc-options > div > div > input:checked + label {
    background-image: url(../img/check-active.png)
}

.wincalc-bar-wrapper {
    width: 70%;
    float: right;
    border-radius: 5px;
    background: #ddd;
    height: 10px;
    margin-top: 3px;
}

.wincalc-bar-bar {
    background: #627bab;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
}

.wincalc-price {
    font-size: 16px;
    font-weight: bold;
}

.wincalc-price-value {
    font-size: 44px;
    font-weight: bold;
    /*color: #fd5f26;*/
    display: inline-block;
    margin-top: 0px;
}

.wincalc-button {
    /*display: block;
    padding:15px 20px;
    background: #59ad07;
    border-radius: 5px;
    width:170px;
    color:white;
    text-transform: uppercase;
    text-align: center;
    margin-top:5px;
    box-shadow: 1px 1px 0px #4f8f3f;
    cursor: pointer;*/
    float: right;
    margin-right: 20px;
}

.wincalc-button:hover {
    /*background: #7cb841;*/
}

.wincalc-17 .calc_text {
    background: white;
    position: absolute;
    top: 1000px;
    left: 0;
    padding: 20px;
}

.wincalc-horisontal-slider-min, .wincalc-horisontal-slider-max, .wincalc-vertical-slider-max, .wincalc-vertical-slider-min {
    position: absolute;
    font-size: 9pt;
    color: #bbb;
}

.wincalc-vertical-slider-max, .wincalc-vertical-slider-min {
    left: 13px;
    top: 5px;
}

.wincalc-vertical-slider-min {
    left: 17px;
    top: auto;
    bottom: 5px;
}

.wincalc-horisontal-slider-min, .wincalc-horisontal-slider-max {
    top: -20px;
}

.wincalc-horisontal-slider-max {
    right: 0px;
}

@media all and (max-width: 420px) {

    .wincalc-17 {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .wincalc-type-selector {
        width: 100%;
        order: 1;
    }

    .wincalc-type2-selector {
        float: left;
        width: 100%;
        order: 4;
        margin-top: 10px;
    }

    .wincalc-type-selector-one > img {
        max-height: 37px;
    }

    div.wincalc-type-selector-one {
        margin-bottom: 20px;
        width: 25%;
        margin-right: 0%;
        height: 85px;
    }

    div.wincalc-type-selector-one:nth-child(4n+1) {
        margin-right: 0;
    }

    .wincalc-type-selector > div {
        padding: 7px 6px;
    }

    .wincalc-constuction {
        height: auto;
        padding: 0 20px;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;

    }

    .wincalc-frames {
        display: none;
    }

    .wincalc-main-window {
        width: 100%;
        order: 2;
        margin-top: 10px;
    }


    .wincalc-constuction > img {
        max-width: 100%;
        max-height: 200px;
    }

    .wincalc-vertical-slider, .wincalc-horisontal-slider {
        display: none;
    }

    .wincalc-size-selector, .wincalc-options, .wincalc-price {
        width: 100%;
        padding-right: 0;
    }

    .wincalc-options {
        order: 5;
    }

    .wincalc-price {
        order: 6;
    }

    .wincalc-type2-selector, .wincalc-options, .wincalc-size-selector {
        margin-right: 0;
        padding-right: 0;
    }

    .wincalc-17 .block-2-items > .block-items-wrapper > div, .wincalc-17 .block-3-items > .block-items-wrapper > div {
        width: 50%;
    }

    .wincalc-17 .calc_text {
        top: 1250px;
    }

    .wincalc-size-selector {
        order: 3;
    }

    .wincalc-size-selector input {
        border: 1px solid #ddd;
    }

    .wincalc-type2-selector > div > label, .wincalc-options > div > label {
        margin-bottom: 5px;
    }

    .wincalc-type2-selector > div, .wincalc-options > div {
        padding-top: 5px;
    }

    .wincalc-button {
        margin-right: 0px;
    }

    div.wincalc-type-selector-one-selected:after {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        background: #fff;
        left: 50%;
        bottom: -2px;
        margin-left: -7px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Safari */
        transform: rotate(45deg);
        border: 2px solid #c90c0c;
        border-left: none;
        border-top: none;
    }
}